In [1]:
import pandas as pd
X_train = pd.read_csv("a3-train.data", header = None, delimiter=' ')
'''with open('a3-train.data', 'r') as file:
    for line in file:'''
del X_train[500]
y_train = pd.read_csv("a3-train.labels.txt", header = None)
#y_train.head()
X_test = pd.read_csv("a3-test.data", header = None, delimiter=' ')
del X_test[500]
y_test = pd.read_csv("a3-test.labels.txt", header = None)
#y_test.head()
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,483,454,513,495,523,469,453,477,506,479,...,455,480,543,259,413,520,485,498,523,510
1,485,508,493,487,478,472,504,476,479,475,...,486,480,535,534,514,452,484,495,548,477
2,483,521,507,475,493,486,421,475,496,483,...,491,476,498,495,508,528,486,465,508,503
3,474,504,576,480,553,483,524,478,483,483,...,521,475,470,463,509,525,479,467,552,517
4,495,474,523,479,495,488,485,476,497,478,...,510,471,522,343,509,520,475,493,506,491

In [2]:
#Basic Logistic regression
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(penalty='l2',C=100)
logreg.fit(X_train, y_train)
print(logreg.score(X_test, y_test))

C:\Users\chari\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5916666666666667

In [3]:
#Basic decision tree classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

#model = DecisionTreeClassifier()
model = DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print(accuracy_score(y_test, y_predict))

C:\Users\chari\Anaconda3\lib\site-packages\sklearn\tree\tree.py:282: DeprecationWarning: The min_impurity_split parameter is deprecated and will be removed in version 0.21. Use the min_impurity_decrease parameter instead.
  DeprecationWarning)

0.765

In [4]:
#Perceptron learning algorithm
'''
import numpy as np
i = 0

X_train = pd.read_csv("a3-train.data", header = None, delimiter=' ')
del X_train[500]
X_train = X_train.values
w = np.ones(X_train.shape[1], dtype = int)
y_train = pd.read_csv("a3-train.labels.txt", header = None)
y_train = y_train.values
while i < len(y_train):
    if((np.dot(w, X_train[i]) > 0 and y_train[i] == 1) or (np.dot(w, X_train[i]) < 0 and y_train[i] == -1)):
        i = i + 1
    else:
        w = w + y_train[i] * X_train[i]
        i = 0
X_test = pd.read_csv("a3-test.data", header = None, delimiter=' ')
del X_test[500]
X_test = X_test.values
y_test = pd.read_csv("a3-test.labels.txt", header = None)
y_test = y_test.values
y_pred = np.ones(X_test.shape[0], dtype = int)
count = 0
for j in range(len(y_pred)):
    if np.dot(w, X_test[j]) < 0:
        y_pred[j] = -1
    if y_pred[j] == y_test[j]:
        count += 1
print((count/X_test.shape[0])*100)
'''

'\nimport numpy as np\ni = 0\n\nX_train = pd.read_csv("a3-train.data", header = None, delimiter=\' \')\ndel X_train[500]\nX_train = X_train.values\nw = np.ones(X_train.shape[1], dtype = int)\ny_train = pd.read_csv("a3-train.labels.txt", header = None)\ny_train = y_train.values\nwhile i < len(y_train):\n    if((np.dot(w, X_train[i]) > 0 and y_train[i] == 1) or (np.dot(w, X_train[i]) < 0 and y_train[i] == -1)):\n        i = i + 1\n    else:\n        w = w + y_train[i] * X_train[i]\n        i = 0\nX_test = pd.read_csv("a3-test.data", header = None, delimiter=\' \')\ndel X_test[500]\nX_test = X_test.values\ny_test = pd.read_csv("a3-test.labels.txt", header = None)\ny_test = y_test.values\ny_pred = np.ones(X_test.shape[0], dtype = int)\ncount = 0\nfor j in range(len(y_pred)):\n    if np.dot(w, X_test[j]) < 0:\n        y_pred[j] = -1\n    if y_pred[j] == y_test[j]:\n        count += 1\nprint((count/X_test.shape[0])*100)\n'

In [5]:
#Multilayer Perceptron
from sklearn.neural_network import MLPClassifier
#Cf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf = MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False,
              epsilon=1e-08, hidden_layer_sizes=(5, 2),
              learning_rate='constant', learning_rate_init=0.001,
              max_iter=200, momentum=0.9,
              nesterovs_momentum=True, power_t=0.5, random_state=1,
              shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)
clf.fit(X_train,y_train)        
print(clf.score(X_test,y_test))

0.5

C:\Users\chari\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.cross_validation import cross_val_score
import numpy as np
#X_train1, X_test1, y_train1, y_test1 = train_test_split(X_train, y_train, random_state=42, test_size=.33)
#clf = RandomForestClassifier(n_estimators=10000, max_depth=8)
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state = 0)
#print(np.mean(cross_val_score(clf, X_train, y_train, cv=3)))
clf.fit(X_train, y_train)
print(clf.score(X_train,y_train))
print(clf.score(X_test,y_test))

C:\Users\chari\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\chari\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # Remove the CWD from sys.path while we load stuff.

0.6655
0.62

In [7]:
param_grid = { 
    'n_estimators': [200, 700],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [5,10],
    'min_samples_split': [5,10]
    }
from sklearn.grid_search import GridSearchCV
c, r = y_train.shape
y_train = y_train.values.reshape(c,)
grid_clf = GridSearchCV(clf, param_grid=param_grid, cv=10)
grid_clf.fit(X_train, y_train)
print(grid_clf.score(X_test,y_test))

C:\Users\chari\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

0.7516666666666667

#  Exploratory Data Analysis

In [8]:
#Summary f features of train set
X_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,481.722500,483.452500,510.166000,483.384500,501.612500,479.259000,480.109500,476.565000,486.793500,478.78900,...,482.458500,478.811500,486.356500,496.565500,493.49950,510.893000,478.219500,483.309000,507.977000,490.266000
std,6.421769,30.186294,38.899165,9.059895,41.389418,6.795956,40.575925,1.384461,15.043836,7.19092,...,20.890033,4.011735,23.967366,127.635442,34.81902,37.459353,5.880613,13.559847,37.224297,25.825273
min,462.000000,381.000000,370.000000,453.000000,371.000000,459.000000,334.000000,471.000000,430.000000,455.00000,...,407.000000,463.000000,391.000000,130.000000,368.00000,398.000000,457.000000,435.000000,363.000000,403.000000
25%,477.000000,464.000000,485.000000,477.000000,475.000000,475.000000,452.750000,476.000000,477.000000,474.00000,...,468.000000,476.000000,471.000000,404.000000,470.00000,486.000000,474.000000,474.000000,482.000000,473.000000
50%,482.000000,483.000000,510.500000,483.000000,500.000000,479.000000,480.000000,477.000000,487.000000,479.00000,...,482.000000,479.000000,486.000000,504.000000,492.00000,511.000000,478.000000,483.000000,508.000000,490.000000
75%,486.000000,503.000000,536.000000,490.000000,528.000000,484.000000,506.250000,477.000000,496.250000,484.00000,...,496.000000,481.000000,502.000000,586.000000,517.00000,535.000000,482.000000,492.000000,533.000000,507.250000
max,503.000000,600.000000,654.000000,519.000000,688.000000,505.000000,611.000000,481.000000,536.000000,503.00000,...,549.000000,497.000000,566.000000,920.000000,615.00000,661.000000,500.000000,535.000000,644.000000,583.000000